# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Dependency directories
bower_components/

# IDE and editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous files
*.tgz
*.lock
